
 @import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('../imagens/imgFundo.jpg');
background-size: cover;

}

button{
  width: 20%;
  height: 40px;
  background:  rgb(131, 96, 73);
  color: #fff;
  border: double;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
 
}
/*
  h1 {

    color: #01080c;
    background-color: rgb(138, 205, 243);
    font-size: 45px;
    font-family: ' sans-serif';
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: rgb(253, 251, 251) double 5px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    
    
  }
  h2{
      font-family: ' sans-serif';
      text-align: center;
  }

  div {
    height: 800px;
    width: 50%;
    background-color: rgb(201, 157, 128);
    margin: auto;
    text-align: justify;
  }

 


input[type=text] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  align-self: flex-end;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


*/