body {
    background-color: rgb(196, 132, 191);
  }

  div {
    height: 260px;
    width: 20%;
    background-color: rgb(206, 113, 152);
    margin: auto;
    text-align: center;
  }
  button{
    width: 45%;
    height: 40px;
    background: rgb(132, 196, 196);
    color: #fff;
    border: double;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
   
}

input{

  width: 90%;
  padding: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

h1 {

  color: #01080c;
  background-color: rgb(138, 205, 243);
  font-size: 45px;
  font-family: ' sans-serif';
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  border-bottom: rgb(253, 251, 251) double 5px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  
  
}
