

  div {
    height: 400px;
    width: 100%;
    background-color: rgb(113, 180, 206);
    margin: auto;
    text-align: center;
  }
  button{
    width: 45%;
    height: 40px;
    float: left;
    border: 1px solid green;
    background: rgb(196, 132, 159);
    color: #fff;
    border: double;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
   
}

input{

  width: 90%;
  padding: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

h1 {

  color: #01080c;
  background-color: rgb(243, 138, 138);
  font-size: 45px;
  font-family: ' sans-serif';
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  border-bottom: rgb(190, 6, 6) double 5px;
  color: rgb(14, 236, 44);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  
  
}

#nav {
    float: left;
    margin: 0px;
    border-radius: 8px;
  
}

#nav ul {

    font: 16px arial, tahoma, verdana;
    list-style: none;
    margin: 0;
    padding: 0;
}

 

#nav ul li {

    float: left;
    position: relative;
    display: block;

}

 

#nav ul li a {
   
    background: rgb(132, 196, 196);
    color: #fff;
    border: double;
    border-radius: 8px;
    text-decoration: none;
    margin: 0 1px;
    padding: 15px 20px;
    display: block;

}

 
#nav li ul {
    display: none;
}

 

#nav ul li a:hover {
    background: #066;
    color: #FFF;
}
 

#nav li:hover ul {
    display: block;
    position: relative;
}

 

#nav li:hover li {
    float: none;
    font-size: 12px;
}

 

#nav li:hover a {
    background: rgb(51, 51, 51);
    color: #FFF;
}


#nav li:hover li a:hover {
    background: #222;
}
